.contactar {
    color: #0086d3 !important;
    background: #dae0e5;
    width: 150px;
    text-align: center;
    margin-left: 10px;
    border-radius: 10px;
    padding: 5px;
    bottom: 5px;
    
}
