
<ion-header>
  <ion-toolbar color="dark">
    <ion-title class="subtitulo ion-text-wrap">
        Mis pedidos
    </ion-title>
    
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="openMenu()">
         <ion-icon color="light" slot="icon-only"  name="menu-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']" >
        <ion-icon color="light" slot="icon-only"  name="storefront-sharp"></ion-icon>
     </ion-button>
      <ion-button [routerLink]="['/perfil']" >
         <ion-icon color="light" slot="icon-only"  name="person-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="m-3">
    <ion-segment mode="ios" (ionChange)="segmento($event)" value="nuevos">
      <ion-segment-button value="nuevos">
        <ion-label class="normal">Mi último pedido</ion-label>
      </ion-segment-button>
      <ion-segment-button value="culminados">
        <ion-label class="normal">Estado de mi pedido</ion-label>
      </ion-segment-button>
    </ion-segment>
</div>

  <ion-card *ngFor="let pedido of pedidos" class="mt-5 mb-5">
    <ion-item>
      <ion-label class="normal">
          Estado: {{pedido.estado}}
          <p>
            fecha: {{pedido.fecha.seconds | date }}
          </p>
         
      </ion-label>
    </ion-item>
    <app-itemcarrito *ngFor="let producto of pedido.productos"  
    [productoPedido]="producto" [botones]=false></app-itemcarrito>
    <ion-buttons>
    <button ion-button>Contactar a Avicola La Granja</button>
<a href="https://api.whatsapp.com/send?phone=2644122198&text=Hola,%20¿Qué%20tal%20%estás?%20quiero%20avisar%20que%20hice%20un%20pedido%20A%20que%20hora%20lo%20busco?" ion-button>al whatsaap</a>
</ion-buttons>
</ion-card>







</ion-content>


